<div>
  <div class="ion-padding" style="padding-top: 2.5rem;">
    <img style="border-radius: 10px; " src="../../../assets/images/img-36.png">
  </div>

  <div class="ion-text-center">
    <ion-text style="font-size: 24px; font-weight: 700; color: #2c365a">Cek Email Kamu</ion-text>

    <div style="padding: 0 10% 0 10%;">
      <hr style="height: 20px; margin: 0px;">
      <hr style="height: 5px; background-color: #e6e6e6; margin: 0px; border-radius: 10px;">
      <hr style="height: 20px; margin: 0px;">

      <ion-text style="line-height: 1.6; color: #2c365a; ">Link verifikasi telah dikirimkan ke email kamu. Segera cek
        folder inbox/spam dan klik link tersebut agar bisa melanjutkan proses pendaftaran akun PPID Hutama Karya
      </ion-text>
    </div>

    <hr style="height: 20px; margin: 0px;">
    <ion-button shape="round" (click)="CloseModalEmailVerification()">Kembali Ke Login</ion-button>
    <ion-button expand="full" fill="clear" color="hk-ppid-three" (click)="ResendVerif()">Kirim Ulang Verifikasi
    </ion-button>
  </div>
</div>