<ion-header class="ion-no-border" [translucent]="true" mode="ios">
  <ion-toolbar color="#eaebef">
    <ion-title>Tracking Your Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe src="https://script.google.com/macros/s/AKfycbwRyQAr5gMQ1xg6qeSSNjxGH57daBuGc09sUCR6Tyru737evzzXr7dEtADZTlgFaNnH9w/exec" style="width:100%;height:100%" scrolling="yes"></iframe> -->
  <br>
  <ion-button expand="full" shape="round" color="hk-ppid" href="https://script.google.com/macros/s/AKfycbwRyQAr5gMQ1xg6qeSSNjxGH57daBuGc09sUCR6Tyru737evzzXr7dEtADZTlgFaNnH9w/exec">Tracking Ticket</ion-button>
</ion-content>