<!-- <ion-header class="ion-no-border" [translucent]="true" mode="ios">
  <ion-toolbar color="#eaebef">
    <ion-title>Tracking Your Ticket</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <div class="ticketsaya">
    <ion-text
      style="margin-top: 10%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-weight: 700; font-size: 24px;">
      Tiket Saya</ion-text>
  </div>

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="DoRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let ticketData of ticketDataList">
    <div style="margin-top: 14px; background-color: white;" button (click)="ShowDetailTicket(ticketData)">
      <div style="margin-left: 16px;display: block;">
        <ion-row style="margin-right: 16px;">
          <ion-col size="8" style="padding-left: 0px;">
            <ion-text style="font-size: 12px;">{{ ticketData.trx_ticket_date_created }}</ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-text *ngIf="ticketData.trx_ticket_status === 'Belum Diproses'" style="font-size: 12px; color: orangered;">{{ ticketData.trx_ticket_status }}</ion-text>
            <ion-text *ngIf="ticketData.trx_ticket_status === 'Selesai'" style="font-size: 12px; color: green;">{{ ticketData.trx_ticket_status }}</ion-text>
            <ion-text *ngIf="ticketData.trx_ticket_status === 'Sedang Diproses'" style="font-size: 12px; color: darkblue;">{{ ticketData.trx_ticket_status }}</ion-text>
            <ion-text *ngIf="ticketData.trx_ticket_status === 'Dibatalkan'" style="font-size: 12px; color: green;">{{ ticketData.trx_ticket_status }}</ion-text>
            <ion-text *ngIf="ticketData.trx_ticket_status === 'Ditolak'" style="font-size: 12px; color: green;">{{ ticketData.trx_ticket_status }}</ion-text>
          </ion-col>
        </ion-row>

        <ion-col style="padding-left: 0px; display: block; width: 100%;">
          <ion-text style="font-size: 24px; font-weight: 700;">{{
            ticketData.trx_ticket_tipe }}</ion-text><br>
          <div style="padding: 10px 0px;">
            <ion-text color="hk-ppid-three">Rincian</ion-text>
            <ion-text> - {{ ticketData.trx_ticket_rincian }}</ion-text>
          </div>
        </ion-col>
      </div>
    </div>
  </div>

  <!-- <div style="margin-top: 14px; background-color: white;" button (click)="ShowDetailTicket(ticketData)">
    <div style="margin-left: 16px;display: block;">
      <ion-row style="margin-right: 16px;">
        <ion-col size="8" style="padding-left: 0px;">
          <ion-text style="font-size: 12px;">AASDF</ion-text>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-text style="font-size: 12px; color: orangered;">33</ion-text>
        </ion-col>
      </ion-row>

      <ion-col style="padding-left: 0px; display: block; width: 100%;">
        <ion-text style="font-size: 24px; font-weight: 700;">4</ion-text><br>
        <div style="padding: 10px 0px;">
          <ion-text color="hk-ppid-three">Rincian</ion-text>
          <ion-text> - AA</ion-text>
        </div>
      </ion-col>
    </div>
  </div> -->



  <!-- -------------------KODINGAN LAMA (PPID FASE I)------------------- -->

  <!-- <div style="position: absolute; height: 80%; width: 100%; top: 20%; background-color: #ffffff; ">
    <div style="position: absolute; left: 5%; margin-top: 8%;">
      <ion-text>Email</ion-text>
    </div>

    <div
      style="position: absolute; left: 5%; height: 60px; width: 90%; background-color: #ffffff; border: 5px solid var(--ion-color-hk-ppid); margin-top: 15%; border-radius: 10px; padding-top: 0; padding-bottom: 0;">
      <ion-input color="hk-ppid" style="font-size: 20px; position: absolute; left: 0; right: 0; text-align: center;"
        type="email" placeholder="Contoh : infrabuddies@gmail.com" [(ngModel)]="email" name="email" required>
      </ion-input>
    </div>

    <div style="position: absolute; left: 5%; margin-top: 35%;">
      <ion-text>ID Ticket</ion-text>
    </div>

    <div
      style="position: absolute; left: 5%; height: 60px; width: 90%; background-color: #ffffff; border: 5px solid var(--ion-color-hk-ppid); margin-top: 42%; border-radius: 10px; padding-top: 0; padding-bottom: 0;">
      <ion-input color="hk-ppid" style="font-size: 20px; position: absolute; left: 0; right: 0; text-align: center;"
        type="text" placeholder="Contoh : KIPHK/INFO/12771" [(ngModel)]="idTicket" name="idTicket" required>
      </ion-input>
    </div>

    <div
      style="position: absolute; left: 5%; height: 60px; width: 90%;  margin-top: 62%; border-radius: 10px; padding-top: 0; padding-bottom: 0;">
      <ion-button expand="full" shape="round" color="success" (click)="TrackingTicket()"
        style="height: 100%; margin: 0; padding: 0; font-weight: 700;">Track Ticket
      </ion-button>
    </div>
  </div>

  <div style="position: absolute; height: 45%; width: 100%; top: 62%;">
    <ion-card mode="ios">
      <ion-item lines="none" color="hk-ppid-three">
        <ion-label style="font-size: 16px; color: whitesmoke;">
          <p>txtIDTicket - txtStatusTicket</p>
          <p>txtTipeTicket</p>
        </ion-label>
      </ion-item>
      <div class="ion-text-start ion-padding"
        style="padding-top: 0px; padding-bottom: 0px; line-height: 150%; background-color: white;">
        <ion-row>
          <ion-col size="5">
            <div class="ion-text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
              <ion-text (click)="PresentNotif('Nama Pemohon', txtNamaPemohon)">Nama Pemohon</ion-text> <br>
              <ion-text (click)="PresentNotif('Email Pemohon', txtEmail)">Email Pemohon</ion-text> <br>
              <ion-text (click)="PresentNotif('Respon HK', txtResponHK)">Respon HK</ion-text> <br>
              <ion-text (click)="PresentNotif('Rincian Info', txtRincianInformasi)">Rincian Info</ion-text> <br>
            </div>
          </ion-col>
          <ion-col size="7">
            <div class="ion-text-nowrap" style="overflow: hidden; text-overflow: ellipsis;">
              <ion-text (click)="PresentNotif('Nama Pemohon', txtNamaPemohon)">: {{ txtNamaPemohon }}</ion-text> <br>
              <ion-text (click)="PresentNotif('Email Pemohon', txtEmail)">: {{ txtEmail }}</ion-text> <br>
              <ion-text (click)="PresentNotif('Respon HK', txtResponHK)">: {{ txtResponHK }}</ion-text> <br>
              <ion-text (click)="PresentNotif('Rincian Info', txtRincianInformasi)">: {{ txtRincianInformasi }}</ion-text> <br>
            </div>
          </ion-col>
        </ion-row>
        <ion-text color="primary">Tiket Masuk : {{ txtTglTiketMasuk }}</ion-text> <br>
        <ion-text color="primary">Tiket Ditindak Lanjut : {{ txtTglTindakLanjut }}</ion-text>
        <br>
        <ion-text color="primary">Tiket Selesai : {{ txtTglSelesai }}</ion-text>
      </div>
    </ion-card>
  </div> -->
</ion-content>