ion-content {
    // --ion-background-color: #eaebef;
    --ion-background-color: var(--ion-color-hk-ppid-three);
}

#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    transform: translateY(-50%);

    min-height: 80%;
    height: auto;
    background-color: coral;
}
