ion-content {
    --background: #FFFFFF;
    // --background: #0081ca;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: var(--ion-color-hk-ppid-two);
    --bullet-background: #000;
}