<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
				<key>dateExpires</key>
				<string>19/07/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>293D733AB01D498A6F8A0560830CD8FFC823E88F</string>
						<key>dateExpires</key>
						<string>19/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KV4ST7LU3T</string>
						<key>name</key>
						<string>Firman Maulana Aditya</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KV4ST7LU3T.com.hutamakarya.ppid</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KV4ST7LU3T</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6a7875f7-2995-44de-a64d-07007843bdc0</string>
				<key>dateExpires</key>
				<string>26/07/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.hutamakarya.ppid</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KV4ST7LU3T</string>
				<key>name</key>
				<string>Firman Maulana Aditya</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1.1</string>
		</dict>
	</array>
</dict>
</plist>
