<ion-header mode="ios">
  <ion-toolbar color="hk-ppid">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-ppid"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isProfilPPID">Profil PPID</ion-title>
    <ion-title *ngIf="isRegulasiPPID">Regulasi PPID</ion-title>
    <ion-title *ngIf="isInformasiBerkala">Informasi Berkala</ion-title>
    <ion-title *ngIf="isInformasiSertaMerta">Informasi Serta Merta</ion-title>
    <ion-title *ngIf="isInformasiTersediaSetiapSaat">Informasi Tersedia Setiap Saat</ion-title>
    <ion-title *ngIf="isLaporanLayananInformasiPublik">Laporan Layanan Informasi Publik</ion-title>
    <ion-title *ngIf="isDownloadFormulir">Download Formulir</ion-title>
    <ion-title *ngIf="isPengajuanInf">Tata Cara</ion-title>
    <ion-title *ngIf="isKeberatan">Tata Cara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isProfilPPID">
    <iframe src="https://kip.hutamakarya.com/profile-kip" style="height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isRegulasiPPID">
    <iframe src="https://kip.hutamakarya.com/regulasi-kip" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isInformasiBerkala">
    <iframe src="https://kip.hutamakarya.com/informasi-yang-diumumkan-secara-berkala" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isInformasiSertaMerta">
    <iframe src="https://kip.hutamakarya.com/informasi-yang-diumumkan-serta-merta" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isInformasiTersediaSetiapSaat">
    <iframe src="https://kip.hutamakarya.com/informasi-tersedia-setiap-saat" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isLaporanLayananInformasiPublik">
    <iframe src="https://kip.hutamakarya.com/laporan-layanan-informasi-publik" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isDownloadFormulir">
    <iframe src="https://kip.hutamakarya.com/download-formulir" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isPengajuanInf">
    <iframe src="https://kip.hutamakarya.com/tata-cara-permohonan-informasi" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
  <div *ngIf="isKeberatan">
    <iframe src="https://kip.hutamakarya.com/tara-cara-pengajuan-keberatan" style="width:100%;height:100%" scrolling="yes"></iframe>
  </div>
</ion-content>