<ion-content>
  <div class="content-container">

    <div class="ion-padding">
      <ion-text style="font-size: 12px; color: #b3b8cc">Mon, 23 May 2022</ion-text>
      <br>
      <hr style="height: 10px; margin: 0px;">

      <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a">Analytics</ion-text>
      <br>
      <br>

      <div class="analytics" padding>
        <div class="scroll" scrollX="true">
          <span class="container" style="background-color: #09024f;"></span>
          <span style="padding-left: 10px;"> </span>
          <span class="container" style="background-color: #063351;"></span>
          <span style="padding-left: 10px;"> </span>
          <span class="container" style="background-color: #592ebe;"></span>
        </div>
      </div>
    </div>

    <div style="background-color: #e8edf0; border-radius: 20px 20px 0px 0px; " class="asal">
      <hr style="height: 25px; margin: 0px;">
      <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a" class="ion-padding">User Approval</ion-text>
      <hr style="height: 10px; margin: 0px;">

      <ion-card>
        <ion-item button detail color="hk-ppid" lines="none" (click)="OpenApproval()">Anya Forger</ion-item>
      </ion-card>
      <ion-card>
        <ion-item button detail color="hk-ppid" lines="none" (click)="OpenApproval()">Young Lex</ion-item>
      </ion-card>
      <ion-card>
        <ion-item button detail color="hk-ppid" lines="none" (click)="OpenApproval()">Abu Gosong</ion-item>
      </ion-card>

      <ion-card>
        <ion-item button detail color="hk-ppid" lines="none" (click)="OpenApproval()">Georgous Bin Slamet
        </ion-item>
      </ion-card>

      <!-- <div style="padding-bottom: 10px"> -->
      <ion-card>
        <ion-item button detail color="hk-ppid" lines="none" (click)="OpenApproval()">Suzuki D. Simanjuntak
        </ion-item>
      </ion-card>
      <!-- </div> -->

      <hr style="height: 25px; margin: 0px;">
      <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a" class="ion-padding">Ticket Request</ion-text>
      <hr style="height: 10px; margin: 0px;">

      <ion-card Lines="none">
        <div class="ion-padding">
          <ion-text>2022-04-21</ion-text>
          <hr style="height: 10px; margin: 0px;">
          <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a">Permohonan Informasi</ion-text>
          <hr style="height: 10px; margin: 0px;">
        </div>
      </ion-card>

      <ion-card>
        <div class="ion-padding">
          <ion-text>2022-04-27</ion-text>
          <hr style="height: 10px; margin: 0px;">
          <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a">Permohonan Informasi</ion-text>
          <hr style="height: 10px; margin: 0px;">
        </div>
      </ion-card>

      <ion-card>
        <div class="ion-padding">
          <ion-text>2022-05-01</ion-text>
          <hr style="height: 10px; margin: 0px;">
          <ion-text style="font-size: 20px; font-weight: 700; color: #2c365a">Pengajuan Keberatan</ion-text>
          <hr style="height: 10px; margin: 0px;">
        </div>
      </ion-card>

    </div>
  </div>

</ion-content>