ion-content {
  // --ion-background-color: #eaebef;
  --ion-background-color: #ffffff;
}

#title strong {
  font-size: 24px;
  padding: auto;
}

.container {
  padding-top: 0.5rem;
  padding-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow: auto;
  }
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden; //auto
  overflow-y: hidden;
  // padding-left: 5%;
  // padding-top: 5%;
  // padding-bottom: 5%;
  ::-webkit-scrollbar {
    display: none;
  }
}

.card {
  /*float: left;*/
  max-width: 50%;
  // margin-bottom: 1rem;
  border: 0;
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  // padding-right: 5%;
}

.card > img {
  // margin-bottom: .75rem;
  width: 100%;
}

.card-text {
  font-size: 85%;
}

ion-card {
  --background: #ffffff;
  box-shadow: none;
}

.ios ion-card {
  // margin-top: 0.5rem;
  margin-bottom: 12px;
}

.your-img {
  border-radius: 10px !important;
  overflow: hidden;
}