<div>
  <div class="buttonBack">
    <ion-buttons style="font-size: 50px;" slot="start">
      <ion-button *ngIf="level == 0" style="font-size: 28px;" color="hk-ppid-main" (click)="CloseForgotPasword()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="level > 0" style="font-size: 28px;" color="hk-ppid-main" (click)="CloseForgotPasword()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons style="font-size: 50px;">
      <ion-back-button text="" defaultHref="home" color="hk-ppid-main" style="font-size: 20px;" mode="ios"
        *ngIf="level == 0">
      </ion-back-button>
    </ion-buttons> -->
  </div>

  <!-- //////////////////////////////////////////////////// BATAS //////////////////////////////////////////////////// -->

  <div class="ion-padding" style="padding-top: 2.5rem;">
    <img style="border-radius: 10px; " src="../../../assets/images/img-37.png">
  </div>

  <div class="ion-text-center">
    <ion-text *ngIf="level == 0" style="font-size: 24px; font-weight: 700; color: #2c365a">Lupa Password?</ion-text>
    <ion-text *ngIf="level > 0" style="font-size: 24px; font-weight: 700; color: #2c365a">Email Telah Dikirim!
    </ion-text>

    <div style="padding: 0 10% 0 10%;">
      <hr style="height: 20px; margin: 0px;">
      <hr style="height: 5px; background-color: #e6e6e6; margin: 0px; border-radius: 10px;">
      <hr style="height: 20px; margin: 0px;">

      <ion-text *ngIf="level == 0" style="line-height: 1.6; color: #2c365a; ">Masukkan email resmi anda dibawah untuk
        menerima instruksi reset password</ion-text>
      <ion-text *ngIf="level > 0" style="line-height: 1.6; color: #2c365a; ">Link reset password telah dikirimkan ke email
        kamu. Segera cek folder inbox/spam dan klik link tersebut agar bisa melanjutkan proses reset password PPID
        Hutama Karya
      </ion-text>

      <form *ngIf="level == 0" (ngSubmit)="ForgetPassword()" [formGroup]="credentials">
        <div class="input-group" style="padding-top: 10px;">
          <ion-item class="border" lines="none">
            <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email Tidak Boleh Kosong</span>
            <span *ngIf="email.errors?.email">Format Email Salah</span>
          </div>
          <br>
        </div>

        <ion-button class="ion-no-padding ion-no-margin" expand="full" fill="clear" color="hk-ppid-three"
          (click)="Login()">
          <ion-text color="hk-ppid-main">Ingat Password?</ion-text>
          <span>&nbsp;</span>
          <ion-text color="danger">Masuk</ion-text>
        </ion-button>

        <hr style="height: 12px; margin-top: 0px; margin-bottom: 0px;" no-padding>

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button shape="round" expand="full" style="height: 50px;" type="submit" [disabled]="!credentials.valid"
              color="hk-ppid-main">Kirim
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <div *ngIf="level > 0">
        <br>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button shape="round" expand="full" style="height: 50px;" (click)="Login()" color="hk-ppid-main">Login
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-button class="ion-no-padding ion-no-margin" expand="full" fill="clear" color="hk-ppid-three"
          (click)="ResendLinkForgetPassword()">
          <ion-text color="hk-ppid-main">Tidak Menerima Link?</ion-text>
          <span>&nbsp;</span>
          <ion-text color="danger">Kirim Ulang</ion-text>
        </ion-button>
      </div>

    </div>
  </div>
</div>